body {
    color: white;
    display: flex;
    background-color: black;
    justify-content: center;
}

.app-container {
    display: flex;
}

.grid-container {
    box-shadow: 5px 5px 30px 10px #2a2a2a;
}

.controls-container {
    margin-left: 40px;
}


