body {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.grid-container {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 40px 5px teal;
}

.controls-container {
    margin-left: 40px;
}


