.cell {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(53, 53, 53, 0.53);
    cursor: pointer;
}

.alive {
    background-color: #b57e7e;

}

.dead {
    background-color: black;
}

.dead:hover {
    background-color: rgba(0, 128, 128, 0.31);
}