.controls {
    display: grid;
    margin-right: 5px;
}

.controls label {
    margin-top: 10px;
}

.controls input[type="range"] {
    width: 150px;
}

label {
    text-align: center;
    margin-bottom: 3px;
}

h4 {
    display: flex;
    justify-content: center;
}