.cell {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    transition: background-color 0.1s ease-in-out;
}

.alive {
    background-color: #faaeae;
}

.dead {
    background-color: black;
}

.row {
    display:grid;

}

.grid {
    display: flex;
    border: 1px solid teal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

