.cell {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

}

.alive {
    background-color: #b57e7e;

}

.dead {
    background-color: black;
}

.grid {
    padding: 5px;
    grid-gap: 2px;
    display: grid;
}

